@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Roboto:wght@300;400;500&display=swap');

body {
    background-color: white;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0px;
    color: #494949;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #A0A0A0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.container{
    width: 700px;
    margin: 50px auto;
}

.banner{
    background-image: url("https://source.unsplash.com/random/1000x500");
    background-size: cover;
    color: white;
    padding: 120px 0;
}

.banner h1 {
    font-size: 38px;
}

.banner p {
    font-size: 40px;
    font-family: 'Caveat', 'cursive';
}

.btn-medium{
    color: #636363;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
}

.btn-medium:hover{
    background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

/* Media queries */
@media(max-width: 900px) {
    .container {
      width: 700px;
    }
  }
  @media(max-width: 750px) {
    .container {
      width: 450px;
    }
  }
  @media(max-width: 500px) {
    .container {
      width: 350px;
    }
    .banner {
      padding: 50px 0;
    }
    .banner h1 {
      font-size: 30px;
    }
    .banner p {
      font-size: 20px;
    }
  }